@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DotGothic16&family=Xanh+Mono:ital@0;1&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #FFFAFB;
  --black: #131515;
  --grey: #2B2C28;
  --primary: #8DB38B;
  --secondary: #56876D;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

main {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(var(--grey) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: calc(var(--x, 0px) / -40) calc(var(--y, 0px) / -40);
}

h1 {
  color: var(--primary);
  font-family: 'xanh mono', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

b {
  font-family: 'dotgothic16', sans-serif;
  font-style: normal;
  font-weight: 400;
}

#main {
  height: calc(100vh - 7.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 1rem 2rem;
  margin: auto;
  height: 60vh;
  max-height: 32rem;
  max-width: 1000px;
  color: var(--white);
  background: var(--grey);
  border: 1.5px solid var(--primary);
  transition: all 0.2s ease-out;
}

.data > * {
  font-family: "dm mono", sans-serif;
  font-size: 1.1rem;
  color: var(--primary);
}

.content > h1::before {
  content: ">_";
  font-style: normal;
  margin-right: 0.5rem;
  color: var(--secondary);
  font-family: "dotgothic16", sans-serif;
  font-weight: 400;
}

.emph {
  font-family: 'dm mono', sans-serif;
  font-style: italic;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--grey);
}

li {
  list-style-type: square;
  margin-bottom: 0.5rem;
}

li > ul > li {
  list-style-type: circle;
  margin-bottom: 0;
  font-size: 1rem
}

.unemph {
  font-family: 'dm mono', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: var(--secondary);
}

::selection {
  background: var(--secondary);
  color: var(--white);
}