@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Space+Grotesk:wght@300..700&family=Xanh+Mono:ital@0;1&display=swap');@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Space+Grotesk:wght@300..700&family=Xanh+Mono:ital@0;1&display=swap');@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Xanh+Mono:ital@0;1&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #FFFAFB;
  --black: #131515;
  --grey: #2B2C28;
  --primary: #8DB38B;
  --secondary: #56876D;

}


body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

h1 {
  font-family: 'xanh mono', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

b {
  font-family: 'dotgothic16', sans-serif;
  font-style: normal;
  font-weight: 400;
}